extends layout

block content
 p( style ="font-size:300%;font-family:verdana;") Mock JSON response tool
 p
  form(name="xoformname" id="xoformid" action="submitjson" method="post")
   div(class="form-group")
    <br>
    div(style="display:inline;")
     input(type="text" id="username" name="username" style="width:200px; margin-right: 10px;" placeholder="enter your corp id")
       
     input(type="submit" class="btn btn-primary" formaction="loadjson" value="Load JSON")
     br
     br
    label(class="aria-label") Enter JSON you want in response
    br
    textarea(id="xorequest" name="xorequest" class="form-control" rows="10" cols="100") 
     
   if(locals.jsonresponse)
    if(locals.jsonresponse.userName)
     script(type="text/javascript").
      var local_data =!{JSON.stringify(jsonresponse)}
      var userName = local_data.userName;// get the userName
      var jsonReq = local_data.jsonReq;//get the json request

      document.getElementById('xorequest').value= jsonReq;
      document.getElementById('username').value= userName; 
      
   input(type="submit" class="btn btn-default" value="Save JSON")
