doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/buyerpage.css')
    link(rel='stylesheet', href='/stylesheets/negotiator.css')
    
  body
    block content